html {
  scroll-behavior: smooth;
}

*{
  font-family: 'Rajdhani', sans-serif;
  margin: 0;
  padding: 0;
}

nav ul li{
  display: inline;
  padding: 2px 25px;
  margin: 3px;
  border: 1px solid white;
  letter-spacing: 5px;
  text-transform: uppercase;
  background-color:rgba(31, 58, 147, .7),
}

.projectContainer img{
  width: 500px;
}

.projectContainer div{
  width: 500px;
}
.nav{
  display: none,
}

 ul li:hover{
  background-color: rgba(225, 225, 225, 0.4);
}

.mobileNav{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: rgba(4, 11, 22, 0.8);
  z-index: 100;
  width: 0%;
  opacity: 0;
  display: none;
}

.hamburger{
  width: 60px;
  height: 60px;
  display: none;
}

/* For Mobiles */
@media only screen and (max-width: 1110px) {

  nav ul li{
    display: block;
  }
  .mobileNav{
    display: block;
  }
  #home h1{
    font-size: 2.5rem;
  }

  .projectContainer img{
    width: 100%;
  }
  
  .projectContainer div{
    width: 100%;
  }
  .nav, .nav ul, .nav ul li, .nav div{
    display: none;
  }
  .hamburger{
    display: block;
  }
}



